<header>
  <nav class="bg-theme1 border-b border-theme4 px-4 lg:px-6 py-2.5">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-7xl">
      <a href="/" class="flex items-baseline">
        <img
          src="/images/logos/mgp-logo-on-dark.svg"
          class="mr-3 h-6 sm:h-9"
          alt="MotoGP logo"
        />
        <h2 class="text-theme6 font-secondary text-3xl">Game</h2>
      </a>
      @if (!isSessionActive()) {
      <app-not-authenticated-menu></app-not-authenticated-menu>
      } @if (isSessionActive()) {
      <app-user-authenticated-menu></app-user-authenticated-menu>
      }
    </div>
  </nav>
</header>
