<section
  class="w-full h-fit mx-auto rounded-xl p-4 border border-theme4 bg-theme2 col-span-2"
>
  <full-calendar [options]="calendarOptions()">
    <ng-template #eventContent let-arg>
      <b class="block text-xs font-semibold text-theme6">
        {{ arg.timeText }}
      </b>
      <i
        class="text-xs xl:text-xl 2xl:text-2xl not-italic font-extrabold font-secondary text-theme2 inline-flex items-center gap-2"
        ><img
          class="h-6 rounded-sm"
          [src]="baseImgUrl + arg.event.extendedProps.flag_img"
          alt="Event flag"
        />
        {{ arg.event.title.toUpperCase() }}</i
      >
    </ng-template>
  </full-calendar>
</section>
