<main
  class="bg-theme1 grid grid-cols-[minmax(0,1fr)_18rem] border-2 border-theme4 rounded-lg shadow max-h-[calc(100vh-8rem)] xl:h-[calc(100vw-8rem)] xl:min-w-[1496px]"
>
  <div
    class="flex flex-col h-full bg-cover bg-[url('/images/resources/tarmac.jpg')]"
  >
    <h1 class="pt-8 px-8 font-secondary text-theme6 font-bold text-2xl">
      Your guesses
    </h1>
    <section
      cdkDropList
      id="orderedRidersList"
      #orderedRidersList="cdkDropList"
      [cdkDropListData]="orderedRiders()"
      [cdkDropListConnectedTo]="[allRidersList]"
      (cdkDropListDropped)="drop($event)"
      cdkDropListOrientation="mixed"
      class="grid grid-cols-2 xl:grid-cols-4 w-8xl min-h-96 p-12 gap-x-14 gap-y-4 overflow-scroll"
    >
      @if (!orderedRiders().length) {
      <p class="col-span-2 xl:col-span-4 text-theme6/70">
        Drag riders from the right to start your guess
      </p>
      } @for (rider of orderedRiders(); track rider.number; let index = $index)
      {
      <article
        cdkDrag
        class="relative font-secondary inline-flex items-center justify-between w-full h-fit text-2xl font-bold bg-theme3 border-2 border-theme4 rounded-lg p-2 mb-0"
      >
        <div
          class="absolute -top-6 -left-8 w-72 border-8 border-b-0 border-theme4"
        >
          <span class="ml-1 w-8 text-center text-sm">
            {{ index + 1 }}
          </span>
        </div>
        <div class="flex items-center gap-4 w-54 l-2">
          <span
            class="relative text-3xl bottom-2 -rotate-6 font-bold text-theme6"
          >
            {{ rider.number }}
          </span>
          <span class="">
            <p class="text-xs font-bold text-theme5">{{ rider.name }}</p>
            <p class="text-xs font-extrabold text-theme5">
              {{ rider.surname }}
            </p>
          </span>
        </div>
      </article>
      }
    </section>
  </div>
  <section
    cdkDropList
    id="allRidersList"
    #allRidersList="cdkDropList"
    [cdkDropListData]="allRiders()"
    [cdkDropListConnectedTo]="[orderedRidersList]"
    (cdkDropListDropped)="drop($event)"
    class="flex flex-col shrink-0 gap-4 overflow-y-auto max-h-full p-4 w-72 border-l-2 border-theme4"
  >
    <h2 class="text-lg text-theme6 font-bold font-secondary">
      Riders available:
    </h2>
    @for (rider of allRiders(); track rider.number; let index = $index) {
    <aside
      cdkDrag
      class="font-secondary inline-flex items-center justify-between w-full h-fit text-2xl font-bold bg-theme3 border-2 border-theme4 rounded-lg p-2 mb-0"
    >
      <div class="flex items-center gap-4 w-54 l-2">
        <span
          class="relative text-5xl bottom-2 -rotate-6 font-bold text-theme6"
        >
          {{ rider.number }}
        </span>
        <span class="">
          <p class="text-sm font-bold text-theme5">{{ rider.name }}</p>
          <p class="text-sm font-extrabold text-theme5">{{ rider.surname }}</p>
        </span>
      </div>
    </aside>
    }
  </section>
</main>
