<main class="w-full p-4">
  <h1 class="font-secondary text-3xl mb-4 text-theme6 text-shadow-lg font-bold">
    Home
  </h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 grid-rows-3 gap-4">
    <section class="row-span-1">
      <app-next-gp-card [nextGrandPrix]="nextGrandPrix()"></app-next-gp-card>
    </section>
    <section class="row-span-2">
      <app-top5-standings [top5riders]="top5Riders()"></app-top5-standings>
    </section>
    <section class="row-span-1">
      <app-credits-page></app-credits-page>
    </section>
  </div>
</main>
