<main class="container m-auto mt-12">
  @if(isAdmin()) {
  <section>
    <h2
      class="text-2xl font-bold font-secondary text-theme6 text-shadow-xs text-shadow-theme2"
    >
      It's nice to see you again, {{ userName() }}
    </h2>
  </section>
  <section
    class="container m-auto mt-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 items-center justify-center"
  >
    @for (option of mainMenuOptions.user; track $index) {
    <app-bento-element
      [title]="option.title"
      [backgroundImage]="option.image"
      [url]="option.url"
    />
    }
  </section>
  } @if(isAdmin()) {
  <details class="mt-8" open>
    <summary
      class="text-2xl font-bold font-secondary text-theme6 text-shadow-xs text-shadow-theme2 hover:cursor-pointer hover:text-theme5"
    >
      Admin sections
    </summary>
    <div
      class="container m-auto mt-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 items-center justify-center"
    >
      @for (option of mainMenuOptions.admin; track $index) {
      <app-bento-element
        [title]="option.title"
        [backgroundImage]="option.image"
        [url]="option.url"
      />
      }
    </div>
  </details>
  }
</main>
