<section class="inline-flex gap-4 items-center w-full h-full">
  <button class="bg-theme4 text-theme1 border-2 border-theme6 rounded-md w-40">
    <img src="/images/icons/chrono.png" alt="Qualis session" />
    Qualis</button
  ><button class="bg-theme4 text-theme1 border-2 border-theme6 rounded-md w-40">
    <img src="/images/icons/racetrack.png" alt="Qualis session" />
    Sprint</button
  ><button class="bg-theme4 text-theme1 border-2 border-theme6 rounded-md w-40">
    <img src="/images/icons/motorsport-trophy.png" alt="Qualis session" />
    GP race
  </button>
</section>
