<section class="text-theme5 container m-auto h-[calc(100vh-5rem)]">
  <div class="h-full flex flex-col justify-center">
    <h1
      class="max-w-2xl text-theme6 mb-6 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl font-secondary flex items-baseline"
    >
      <img
        src="/images/mgp-logo-on-dark.svg"
        class="mr-2 h-12 sm:h-16 text-theme6"
        alt="MotoGP logo"
      />
      Game
    </h1>
    <p class="max-w-2xl mb-10 font-light text-theme4 md:text-lg lg:text-xl">
      MotoGP is a platform with a user-friendly interface where you can check
      all the information about the MotoGP that you love
    </p>
    <span>
      <a
        href="/auth/sign-up"
        class="inline-flex font-secondary items-center justify-center px-4 py-2 mr-4 text-base font-medium text-center rounded-lg bg-theme6 text-theme1 hover:bg-theme6/90 focus:outline-none focus:ring-2 focus:ring-theme6/60"
      >
        Get started
      </a>
      <a
        href="/auth/log-in"
        class="inline-flex font-secondary items-center justify-center px-4 py-2 mr-4 text-base font-medium text-center text-theme5 hover:text-theme6 focus:outline-none focus:ring-2 focus:ring-theme6/60"
      >
        Log In
      </a>
    </span>
  </div>
</section>
