<article
  class="flex flex-col items-start text-left max-w-sm border border-theme4 rounded-lg hover:cursor-pointer bg-theme2 hover:shadow-xl hover:scale-101 transition-all p-4 gap-4"
>
  <img
    class="h-6 rounded-sm"
    [src]="grandPrixFlagUrl()"
    alt="Flag of the grand prix of {{ grandPrixName() }}"
  />
  <span
    class="text-theme4 italic text-sm overflow-hidden flex flex-col items-end"
  >
    {{ grandPrixDates() }}
  </span>
  <h2 class="text-theme6 font-secondary font-bold text-3xl">
    {{ grandPrixName() }}
  </h2>
  <span class="text-theme4 inline-flex items-center gap-2 text-lg">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
      <path
        d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
      />
    </svg>
    {{ grandPrixLocation() }}</span
  >
</article>
