<article
  class="flex relative flex-col items-start text-left max-w-xl border border-theme4 rounded-lg hover:cursor-pointer hover:shadow-xl hover:scale-101 transition-all p-4 gap-4"
  [class]="eventStatus() === 'passed' ? 'bg-theme3' : 'bg-theme2'"
>
  <span class="text-theme4 italic text-sm overflow-hidden flex items-end">
    {{ grandPrixDates() }}
  </span>
  @if (eventStatus() === 'passed') {
  <div
    class="absolute right-2 top-3 bg-theme6 text-theme1 px-3 py-1 rounded-full text-xs"
  >
    ENDED
  </div>
  } @else if (eventStatus() === 'active') {
  <div
    class="absolute right-2 top-3 bg-red-600 text-theme5 px-3 py-1 rounded-full text-xs"
  >
    LIVE
  </div>
  }

  <h2
    class="text-theme6 font-secondary font-bold text-2xl inline-flex items-center gap-2"
  >
    <img
      class="h-6 max-w-8 rounded-sm"
      [src]="grandPrixFlagUrl()"
      alt="Flag of the grand prix of {{ grandPrixName() }}"
    />
    {{ grandPrixName() }}
  </h2>
</article>
