<form class="mx-auto">
  <label
    for="search"
    class="block mb-2.5 text-sm font-secondary font-medium text-anti-flash-white sr-only"
    >Search</label
  >
  <div class="relative">
    <div
      class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
    >
      <svg
        class="w-4 h-4 text-anti-flash-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-width="2"
          d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"
        />
      </svg>
    </div>
    <input
      type="search"
      id="search"
      class="block w-full p-3 ps-9 font-secondary bg-richblack border border-slate-gray text-anti-flash-white text-sm rounded-lg focus:ring-screaming-green focus:border-screaming-green shadow placeholder:text-anti-flash-white/60"
      placeholder="Search movies or series..."
      required
    />
    <button
      type="submit"
      class="absolute end-1.5 bottom-1.5 font-secondary text-navy bg-screaming-green hover:bg-screaming-green/90 border border-transparent focus:ring-4 focus:ring-primary-300 shadow font-medium leading-5 rounded-lg text-sm px-4 py-2 focus:outline-none transition-colors"
    >
      Search
    </button>
  </div>
</form>
