<nav
  class="flex gap-2 border border-theme4 rounded-lg w-fit font-secondary bg-theme1 mb-2"
>
  <button
    class="p-2 rounded-lg cursor-pointer inline-flex items-center gap-2"
    [class]="
      grandPrixMenuOption() === 'map'
        ? 'bg-theme6 text-theme1 font-bold scale-105'
        : ''
    "
    (click)="grandPrixMenuOption.set('map')"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-map"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M3 7l6 -3l6 3l6 -3v13l-6 3l-6 -3l-6 3v-13" />
      <path d="M9 4v13" />
      <path d="M15 7v13" />
    </svg>
    Map
  </button>
  <button
    class="p-2 rounded-lg cursor-pointer inline-flex items-center gap-2"
    [class]="
      grandPrixMenuOption() === 'calendar'
        ? 'bg-theme6 text-theme1 font-bold scale-105'
        : ''
    "
    (click)="grandPrixMenuOption.set('calendar')"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-week"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path
        d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"
      />
      <path d="M16 3v4" />
      <path d="M8 3v4" />
      <path d="M4 11h16" />
      <path d="M7 14h.013" />
      <path d="M10.01 14h.005" />
      <path d="M13.01 14h.005" />
      <path d="M16.015 14h.005" />
      <path d="M13.015 17h.005" />
      <path d="M7.01 17h.005" />
      <path d="M10.01 17h.005" />
    </svg>
    Calendar
  </button>
</nav>
