@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Science Gothic";
  src: url("/fonts/ScienceGothic-VariableFont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --theme1: #000e22;
  --theme2: #001533;
  --theme3: #2e4a66;
  --theme4: #b4b9c0;
  --theme5: #efefef;
  --theme6: #4cd625;
}

html,
body {
  font-family: "Science Gothic", Inter, Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  color: var(--theme5);
  scroll-behavior: smooth;
  scroll-padding: 2rem;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: url("/images/bg-image.jpg");
  background-size: cover;
}

@import "tailwindcss";

@theme {
  --color-theme1: var(--theme1);
  --color-theme2: var(--theme2);
  --color-theme3: var(--theme3);
  --color-theme4: var(--theme4);
  --color-theme5: var(--theme5);
  --color-theme6: var(--theme6);

  --font-secondary: "Raleway", Inter, Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
}
