<main class="flex h-[calc(100vh-4rem)]">
  <aside class="shrink-0 sticky top-16 h-[calc(100vh-4rem)] overflow-hidden">
    <app-aside-menu>
      <button
        (click)="handleMenuOptionChange('grand-prix')"
        [class]="menuOption() === 'grand-prix' ? 'bg-theme6 text-theme1' : ''"
        class="w-64 overflow-hidden inline-flex gap-2 cursor-pointer items-center py-2 px-4 rounded-2xl hover:bg-theme6 hover:text-theme1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-trophy"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M8 21l8 0" />
          <path d="M12 17l0 4" />
          <path d="M7 4l10 0" />
          <path d="M17 4v8a5 5 0 0 1 -10 0v-8" />
          <path d="M5 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          <path d="M19 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        </svg>
        GP Management
      </button>
      <button
        (click)="handleMenuOptionChange('sessions')"
        [class]="menuOption() === 'sessions' ? 'bg-theme6 text-theme1' : ''"
        class="w-64 overflow-hidden inline-flex gap-2 cursor-pointer items-center py-2 px-4 rounded-2xl hover:bg-theme6 hover:text-theme1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-checkup-list"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"
          />
          <path
            d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
          />
          <path d="M9 14h.01" />
          <path d="M9 17h.01" />
          <path d="M12 16l1 1l3 -3" />
        </svg>
        Sessions
      </button>
    </app-aside-menu>
  </aside>
  <content class="flex-1 p-4 overflow-y-auto">
    <router-outlet></router-outlet>
  </content>
</main>
